
.conf {
    font-family: "geistSansMonoFont";
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 6.5rem;
}

@media (max-width: 576px) {
    .conf {
        padding: 2rem;
    }

    .conf .top {
        flex-direction: column;
        gap: 1rem;
    }

    .conf .top .tickets span[title] {
        margin-right: auto;
    }
}

.conf .date-container {
    display: flex;
    flex-direction: column;
}

.conf .top {
    display: flex;
    justify-content: space-between;
}

.conf .top .tickets span[title] {
    font-size: small;
}

.conf .date-container .date {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.conf .date-container .conf-logo {
    height: 60px;
    width: 230px;
}
.conf .tickets {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.conf .tickets button {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: "geistSansMonoFont";
    text-transform: uppercase;
    height: 3rem;
    background-color: #0057FF;
    border: none;
    padding-inline: 3rem;
    border-radius: 0.5rem;
    color: #fff;
    transition: opacity 150ms;
    font-size: 1rem;
}

.conf .tickets button:hover {
    cursor: pointer;
    opacity: 0.9;
}
.conf img {
    margin-top: 1.5rem;
}

.conf .date-container .square {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #0057FF;
}

.presentation {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 12rem;
}

.presentation h1 {
    font-size: 68px;
    font-weight: 800;
    background-image: linear-gradient(180deg, #fff, #adadad);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -2px;
}

.presentation p {
    color: var(--light-gray);
    width: 70%;
    line-height: 2;
    margin: 2rem 0 5rem 0;
}

.presentation .highlighted {
    color: var(--white);
}

.presentation .get-started {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.presentation .get-started .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.presentation .get-started .buttons button {
    padding: 0.75rem 1.5rem;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.2s background-color;
    border: none;
}

.presentation .get-started .buttons button:hover {
    cursor: pointer;
}

.presentation .get-started .buttons >:nth-child(1) {
    background-color: #eee;
    color: #000;
}

.presentation .get-started .buttons >:nth-child(1):hover {
    background-color: #ccc;
}

.presentation .get-started .buttons >:nth-child(2) {
    background-color: #000;
    color: #fff;
    border: 1px solid var(--dark-gray);
}

.presentation .get-started .buttons >:nth-child(2):hover {
    background-color: hsla(0,0%,12%,1);
}

.presentation .get-started .command {
    font-size: 14px;
    color: var(--light-gray);
}

.presentation .get-started .command:hover {
    cursor: copy;
}

.presentation .get-started .command .bx-copy,
.presentation .get-started .command .bx-check {
    opacity: 0;
    transition: 0.1s opacity;
}

.presentation .get-started .command:hover .bx-copy,
.presentation .get-started .command:hover .bx-check {
    opacity: 1;
}

@media (max-width: 1400px) {
    .presentation {
        margin-bottom: 8rem;
    }
}

@media (max-width: 992px) {
    .presentation {
        margin-bottom: 6rem;
    }
}

@media (max-width: 576px) {
    .presentation {
        margin-bottom: 6rem;
        line-height: 1;
    }

    .presentation h1 {
        font-size: 36px;
        letter-spacing: 1px;
    }

    .presentation p {
        font-size: 16px;
        margin: 2rem 0;
    }
}

.what {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.what h2 {
    font-family: "geistSansFontMono", sans-serif;
    font-size: 32px;
    font-weight: 700;
    background-image: linear-gradient(180deg, #fff, #adadad);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.what span {
    color: var(--light-gray);
    font-size: 18px;
}

@media (max-width: 992px) {
    .what {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 576px) {
    .what span {
        font-size: 14px;
        text-align: center;
    }
}

.features {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background: linear-gradient(180deg, #000 30%, #111 50%, #111 100%);
    padding: 2rem 0 1.5rem 0;
    height: 100%;
    border-bottom: 1px solid var(--dark-gray);
}

.features .col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin-bottom: 6rem;
}

.features .card {
    border: 1px solid var(--dark-gray);
    border-radius: 12px;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: 150ms border-color, 150ms background-color;
    color: var(--white);
}

.features .card img {
    display: block;
    margin-inline: auto;
    width: 70%;
}

.features .card:hover {
    border-color: #444;
    cursor: pointer;
}

.features .card:not(:nth-child(1)):hover {
    background-color: hsla(0, 0%, 100%, 0.05);
}

.features .card .title,
.special-card .title {
    font-weight: 600;
    font-size: 18px;
}

.features .card .description {
    font-size: 14px;
    color: var(--light-gray);
}

.features .special-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    background-image: linear-gradient(110deg, #272727 .06%, #171717);
    box-shadow: inset 0 0 6px hsla(0, 0%, 100%, 0.1);
    height: 10rem;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    color: var(--white);
}

@media (max-width: 1400px) {
    .features {
        padding: 2rem 1rem;
    }
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;    
    }
}

@media (max-width: 576px) {
    .features {
        padding: 1rem;
        flex-direction: column;
    }

    .features .col {
        margin-bottom: 2rem;
    }
}

.special-card .description {
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
    max-width: 25ch;
}

.special-card .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
    transition: 150ms background-color;
    border-radius: 50%;
    padding: 6px;
}

.special-card .arrow:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, .15);
}

.powered-by-container {
    border-bottom: 1px solid var(--dark-gray);
    background: radial-gradient(50% 50% at 50% 50%, #121212 0, #000 100%);
}

.powered-by {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    padding: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.powered-by h2 {
    font-family: "geistSansFontMono", sans-serif;
    background-image: linear-gradient(180deg, #fff, #adadad);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.powered-by .cpu {
    position: relative;
    width: 10rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg,#232323,#222),
                      linear-gradient(180deg,hsla(0,0%,100%,.05),
                                             hsla(0,0%,100%,.05) 26.56%,
                                             rgba(0,0,0,.05) 51.56%,
                                             rgba(0,0,0,.05));
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 6px 4px -2px rgba(0, 0, 0, .15), inset 0 -3px 1px -1px rgba(0, 0, 0, .25);
    animation: glow 2s infinite alternate;
    background-size: 200% 100%;
}

@keyframes glow {
	0% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	1% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	2% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	3% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	4% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	5% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	6% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	7% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	8% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	9% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	10% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 100%, hsla(0,0%,100%,.05) 100%); }
	11% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 99%, hsla(0,0%,100%,.05) 100%); }
	12% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 98%, hsla(0,0%,100%,.05) 100%); }
	13% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 97%, hsla(0,0%,100%,.05) 100%); }
	14% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 96%, hsla(0,0%,100%,.05) 100%); }
	15% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 95%, hsla(0,0%,100%,.05) 100%); }
	16% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 94%, hsla(0,0%,100%,.05) 100%); }
	17% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 93%, hsla(0,0%,100%,.05) 100%); }
	18% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 92%, hsla(0,0%,100%,.05) 100%); }
	19% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 91%, hsla(0,0%,100%,.05) 100%); }
	20% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 90%, hsla(0,0%,100%,.05) 100%); }
	21% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 89%, hsla(0,0%,100%,.05) 100%); }
	22% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 88%, hsla(0,0%,100%,.05) 100%); }
	23% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 87%, hsla(0,0%,100%,.05) 100%); }
	24% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 86%, hsla(0,0%,100%,.05) 100%); }
	25% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 85%, hsla(0,0%,100%,.05) 100%); }
	26% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 84%, hsla(0,0%,100%,.05) 100%); }
	27% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 83%, hsla(0,0%,100%,.05) 100%); }
	28% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 82%, hsla(0,0%,100%,.05) 100%); }
	29% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 81%, hsla(0,0%,100%,.05) 100%); }
	30% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 80%, hsla(0,0%,100%,.05) 100%); }
	31% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 79%, hsla(0,0%,100%,.05) 100%); }
	32% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 78%, hsla(0,0%,100%,.05) 100%); }
	33% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 77%, hsla(0,0%,100%,.05) 100%); }
	34% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 76%, hsla(0,0%,100%,.05) 100%); }
	35% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 75%, hsla(0,0%,100%,.05) 100%); }
	36% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 74%, hsla(0,0%,100%,.05) 100%); }
	37% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 73%, hsla(0,0%,100%,.05) 100%); }
	38% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 72%, hsla(0,0%,100%,.05) 100%); }
	39% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 71%, hsla(0,0%,100%,.05) 100%); }
	40% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 70%, hsla(0,0%,100%,.05) 100%); }
	41% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 69%, hsla(0,0%,100%,.05) 100%); }
	42% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 68%, hsla(0,0%,100%,.05) 100%); }
	43% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 67%, hsla(0,0%,100%,.05) 100%); }
	44% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 66%, hsla(0,0%,100%,.05) 100%); }
	45% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 65%, hsla(0,0%,100%,.05) 100%); }
	46% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 64%, hsla(0,0%,100%,.05) 100%); }
	47% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 63%, hsla(0,0%,100%,.05) 100%); }
	48% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 62%, hsla(0,0%,100%,.05) 100%); }
	49% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 61%, hsla(0,0%,100%,.05) 100%); }
	50% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 60%, hsla(0,0%,100%,.05) 100%); }
	51% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 59%, hsla(0,0%,100%,.05) 100%); }
	52% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 58%, hsla(0,0%,100%,.05) 100%); }
	53% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 57%, hsla(0,0%,100%,.05) 100%); }
	54% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 56%, hsla(0,0%,100%,.05) 100%); }
	55% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 55%, hsla(0,0%,100%,.05) 100%); }
	56% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 54%, hsla(0,0%,100%,.05) 100%); }
	57% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 53%, hsla(0,0%,100%,.05) 100%); }
	58% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 52%, hsla(0,0%,100%,.05) 100%); }
	59% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 51%, hsla(0,0%,100%,.05) 100%); }
	60% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 50%, hsla(0,0%,100%,.05) 100%); }
	61% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 49%, hsla(0,0%,100%,.05) 100%); }
	62% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 48%, hsla(0,0%,100%,.05) 100%); }
	63% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 47%, hsla(0,0%,100%,.05) 100%); }
	64% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 46%, hsla(0,0%,100%,.05) 100%); }
	65% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 45%, hsla(0,0%,100%,.05) 100%); }
	66% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 44%, hsla(0,0%,100%,.05) 100%); }
	67% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 43%, hsla(0,0%,100%,.05) 100%); }
	68% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 42%, hsla(0,0%,100%,.05) 100%); }
	69% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 41%, hsla(0,0%,100%,.05) 100%); }
	70% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 40%, hsla(0,0%,100%,.05) 100%); }
	71% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 39%, hsla(0,0%,100%,.05) 100%); }
	72% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 38%, hsla(0,0%,100%,.05) 100%); }
	73% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 37%, hsla(0,0%,100%,.05) 100%); }
	74% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 36%, hsla(0,0%,100%,.05) 100%); }
	75% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 35%, hsla(0,0%,100%,.05) 100%); }
	76% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 34%, hsla(0,0%,100%,.05) 100%); }
	77% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 33%, hsla(0,0%,100%,.05) 100%); }
	78% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 32%, hsla(0,0%,100%,.05) 100%); }
	79% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 31%, hsla(0,0%,100%,.05) 100%); }
	80% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 30%, hsla(0,0%,100%,.05) 100%); }
	81% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 29%, hsla(0,0%,100%,.05) 100%); }
	82% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 28%, hsla(0,0%,100%,.05) 100%); }
	83% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 27%, hsla(0,0%,100%,.05) 100%); }
	84% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 26%, hsla(0,0%,100%,.05) 100%); }
	85% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 25%, hsla(0,0%,100%,.05) 100%); }
	86% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 24%, hsla(0,0%,100%,.05) 100%); }
	87% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 23%, hsla(0,0%,100%,.05) 100%); }
	88% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 22%, hsla(0,0%,100%,.05) 100%); }
	89% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 21%, hsla(0,0%,100%,.05) 100%); }
	90% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 20%, hsla(0,0%,100%,.05) 100%); }
	91% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 19%, hsla(0,0%,100%,.05) 100%); }
	92% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 18%, hsla(0,0%,100%,.05) 100%); }
	93% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 17%, hsla(0,0%,100%,.05) 100%); }
	94% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 16%, hsla(0,0%,100%,.05) 100%); }
	95% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 15%, hsla(0,0%,100%,.05) 100%); }
	96% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 14%, hsla(0,0%,100%,.05) 100%); }
	97% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 13%, hsla(0,0%,100%,.05) 100%); }
	98% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 12%, hsla(0,0%,100%,.05) 100%); }
	99% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 11%, hsla(0,0%,100%,.05) 100%); }
	100% { background: linear-gradient(85deg, hsla(0,0%,100%,.05) 0%, #333 10%, hsla(0,0%,100%,.05) 100%); }
}

.powered-by .cpu .label {
    background-image: linear-gradient(92.66deg,#919191,#eaeaea 19.79%,#828181 33.33%,#c6c6c6 70.31%,#606060);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;
}

.powered-by .pins {
    display: flex;
    gap: 1rem;
}

.powered-by .pin {
    width: 7px;
    height: 10px;
}

.powered-by .top-pins {
    position: absolute;
    top: 0;
    translate: 0 -100%;
}

.powered-by .top-pins .pin {
    border-bottom: 1px solid var(--white);
    background: linear-gradient(180deg, #9a9a9a, #686868 33.33%, #848484 66.67%, #3a3a3a);
}

.powered-by .bot-pins {
    position: absolute;
    bottom: 0;
    translate: 0 100%;
}

.powered-by .bot-pins .pin {
    background: linear-gradient(180deg, #898989, #6f6f6f 33.33%, #a3a3a3 66.67%, #535353);
}

.powered-by .bot-pins .pin,
.powered-by .right-pins .pin,
.powered-by .left-pins .pin {
    border-top: 1px solid var(--white);
}

.powered-by .right-pins {
    position: absolute;
    right: 0;
    translate: 100% 0;
}

.powered-by .right-pins .pin {
    rotate: 90deg;
    background: linear-gradient(1turn, #6f6f6f, #878787 33.33%, #8b8b8b 66.67%, #4d4d4d);
}

.powered-by .left-pins {
    position: absolute;
    left: 0;
    translate: -100% 0;
}

.powered-by .left-pins .pin {
    rotate: -90deg;
    background: linear-gradient(180deg, #787878, #6b6b6b 33.33%, #8b8b8b 66.67%, #303030);
}

.powered-by .right-pins,
.powered-by .left-pins {
    display: flex;
    flex-direction: column;
}

.powered-by .stack {

    display: flex;
    gap: 1rem;
}

.powered-by .stack .tech {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid var(--dark-gray);;
    background: linear-gradient(180deg, #242424, #121212 65.62%);
    box-shadow: 0 1px 0 1px #00000005, 0 4px 6px #00000005, inset 0 0 0 6px #111;
    min-height: 240px;
    width: 100%;
    transition: 0.15s background;
}

.powered-by .stack .tech:hover {
    background: linear-gradient(180deg, #242424, #ffffff05 65.62%);
}

.powered-by .stack .tech img {
    margin-bottom: auto;
}

.powered-by .stack .tech .name {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.04em;
    font-weight: 600;
    padding-bottom: 0.5rem;
    color: var(--white);
}

.powered-by .stack .tech .name i {
    padding-left: 1rem;
    vertical-align: middle;
    color: var(--light-gray);
    font-weight: 700;
}

.powered-by .stack .tech .description {
    font-size: 14px;
    color: var(--light-gray);
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.powered-by .stack .tech .description img {
    vertical-align: middle;
}

@media (max-width: 768px) {
    .powered-by .stack {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .powered-by {
        padding: 2rem;
    }
}